<div class="test">
    <h3>Đây là Component Home</h3>
    <h1>Trái cây</h1>
    <table class="table">
        <tr>
            <th>STT</th>
            <th>Tên</th>
            <th>Giá</th>
            <th>Hạ Giá</th>
        </tr>
        <tr *ngFor="let trai of traiCay2; let i = index">
            <td>{{i+1}}</td>
            <td>{{ trai.ten | lowercase }}</td>
            <td class="right">
                <span [ngClass]="{'so-am': trai.gia <0}">{{trai.gia | currency:"USD":"symbol":"1.2"}}</span>
            </td>
            <td>
                <span>{{trai.haGia | onSale | uppercase}}</span>
            </td>
        </tr>
      </table>
    
</div>
