<div class="test">
    <h3>Đây là Component Home</h3>
    <h1>Trái cây</h1>
        Tỉnh/Thành phố:
      <select id="city" (change)="changeCity($event)">
        <option *ngFor="let data of vietnamData" value="{{data.city}}">
            {{data.city}}
        </option>
      </select>
      <br/>
      Quận/Huyện:
      <select id="district">
        <option *ngFor="let district of district" value="{{district}}">
            {{district}}
        </option>
      </select>
      <br/>
      <span>Counter = {{ counter}}</span>
      <br/>
      <span>Counter ^2= {{ counterBinhphuong}}</span>
</div>
